.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  fill: transparent;
}

marker#end {
  fill: #999;
}

svg text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: orange;
  cursor: pointer;
}

svg text.shadow {
  fill: black;
  filter: url(#shadow);
}
